@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.contents {
  font-size: 1.7rem;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.team {
    flex-direction: row;
    margin-left: 50px;
    /*width: 800px;*/
  }
  .team_1 {
    flex-direction: row;
    margin-left: 50px;
    /*width: 800px;*/
  }
  .team_name {
    margin-top: 8vh;
    height: 20vh;
    font-size: 3vmin;
    font-weight: 700;
    display:table;
  }
  .team_title {
    width: 100%;
    height: 20vh;
    display:table;
    font-size: 4vmin;
    font-weight: 700;
    margin-right: 40vw;
  }
  .middle_box {
    display:table-cell;
    vertical-align:middle;
  }
  .team_text {
    color: #999999;
    width: 500px;
    height: 20vh;
    margin-bottom: 28vh;
    font-size: 16px;
  }
  .team_film {
    width: 100%;
    margin-top: 13vh;
    height: 15vh;
    font-size: 3vmin;
    font-weight: 700;
    display:table;
    text-align: right;
  }
  .team_film_title {
    width: 100%;
    margin-top: 10vh;
    height: 10vh;
    display:table;
    font-size: 4vmin;
    font-weight: 700;
    text-align: right;
  }
  .team_film_text {
    color: #999999;
    width: 100%;
    height: 35vh;
    margin-bottom: 13vh;
    font-size: 16px;
    text-align: right;
    display: flex;
    align-items: flex-end;
  }

  
  #myVideo {
      height: 70vh;
      width: auto;
    }
  
    .team_interactive {
      width: 100%;
      margin-top: 13vh;
      height: 20vh;
      font-size: 3vmin;
      font-weight: 700;
      display:table;
      text-align: left;
    }
    .team_interactive_image_1{
      height: 50vh;
      margin-bottom: 13vh;
    }
    .team_interactive_title {
      width: 100%;
      margin-top: 13vh;
      height: 6vh;
      display:table;
      font-size: 4vmin;
      font-weight: 700;
      text-align: left;
    }
    .team_interactive_text {
      color: #999999;
      width: 100%;
      height: 30vh;
      
      font-size: 16px;
      text-align: left;
      display: flex;
      align-items:center;
    }
    .team_interactive_image_2{
      height: 35vh;
      margin-bottom: 13vh;
    }
    
  .border{
    height: 96vh;
    border-right: solid 1px #777;
  }
  .individual{
    margin-left: 50px;
    padding-right: 10px;
      height: 30vh;
      font-size: 16px;
      text-align: left;
      display: flex;
      align-items:center;
      height: 96vh;
    border-right: solid 1px #777;
  }

  .team_indivi_image{
    height: 35vh;
    margin-top: 13vh;
  }
  .team_indivi_text {
    width: 100%;
    height: 35vh;
    margin-bottom: 13vh;
    text-align: left;
  }

  .team_indivi_text2 {
    color: #999999;
    width: 100%;
    height: 30vh;
    font-size: 16px;
    margin-bottom: 13vh;
    text-align: left;
    display: flex;
    align-items:center;
  }
  
  .team_indivi_name {
    width: 100%;
    margin-top: 13vh;
    height: 20vh;
    font-size: 3vmin;
    font-weight: 700;
    display:table;
    text-align: left;
  }
  .team_indivi_title {
    width: 100%;
    height: 6vh;
    display:table;
    font-size: 4vmin;
    font-weight: 700;
    text-align: left;
  }